/* Hero Section styles */
.hero-section {
  height: 100vh;
  background-image: url("../../../assets/images/heroBg.jpg"); /* Replace with your actual image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 20px;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

.hero-title {
  font-size: 3rem;
  color: white;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
}

.hero-btn {
  font-size: 1.2rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .hero-btn {
    font-size: 1rem;
  }
}
